/* Basic Style */

ul {
  margin: 0;
  padding: 0;
}

li, 
h3 {
  list-style: none;
}

input, 
button {
  outline: none;
}

.body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.matrix {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.matrix__img {
  width: 100%;
}

.matrix__info {
  font-family: fantasy, cursive;
}

.todolist {
  display: block;
  width: 500px;
  margin: 0 auto;
}

.todolist__label {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.todolist__input {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.todolist__add {
  display: flex;
}

.todolist__btn {
  background: none;
  border: 0;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.todolist__btn:hover {
  color: #3a3a3a;
}

/* Heading */

.todolist__heading {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.todolist__input {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

.todolist__input:focus {
  color: #333;
}

/* New Task */

.todolist__heading_type_new-task {
  display: block;
  margin: 0 0 20px;
}

.todolist__input_type_add {
  width: 318px;
}

/* Task list */

.todolist__task {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;

  display: flex;
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;
}

.todolist__mark {
  margin: 0 10px;
}

.todolist__label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.todolist__input_type_edit {
  width: 226px;
  display: none;
}

.todolist__img-delete {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.todolist__img-delete:hover {
  transform: rotateZ(0);
}

/* Completed */

.todolist__label_inactive {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */

.todolist__input_type_edit_active {
  display: inline-block;
  width: 224px;
}

.todolist__label_disabled {
  display: none;
}

@media (max-width:768px) {

  .matrix { 
    text-align: center;
  }

}